
body{
  background-color: #8bd9cd;
  margin-left: 50px;
  /*#ffeeed;*/
}


h1 {
  font-variant: small-caps;
  font-family: verdana;
  font-weight: 350;
  font-size: 30pt;
}

p {
  font-size: 16px;
  font-family: verdana;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
  }


.tg td{
    border-color: #e38e88;
    border-style:solid;
    border-width:4px;
    font-family:verdana;
    font-size:16px;
    overflow:hidden;
    padding:15px 5px;
    word-break:normal;
  }


.tg th{
    border-color:#e38e88;
    border-style:solid;
    border-width:4px;
    font-family:verdana;
    font-size:18px;
    font-weight:bold;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
  }


.tg tg-w747{
    background-color:#dae8fc;
    text-align:left;
    vertical-align:top;
  }


.tg tg-hyan{
    background-color:#34cdf9;
    text-align:left;
    vertical-align:top;
    font-weight: bold;
    font-color:#FF5A5F;
  }


.tg tg-0lax{
  text-align:left;
  vertical-align:top;
}
